<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="az.cybernet.invoice.repository.InvoiceRepository">

    <!-- RESULT MAPS -->
    <resultMap id="InvoiceResultMap" type="az.cybernet.invoice.entity.InvoiceEntity">
        <id property="id" column="c_id"/>
        <result property="senderTaxId" column="c_sender_tax_id"/>
        <result property="recipientTaxId" column="c_recipient_tax_id"/>
        <result property="totalPrice" column="c_total_price"/>
        <result property="invoiceNumber" column="c_invoice_number"/>
        <result property="invoiceSeries" column="c_invoice_series"/>
        <result property="status" column="c_status" typeHandler="az.cybernet.invoice.handler.InvoiceStatusTypeHandler"/>
        <result property="createdAt" column="c_created_at"/>
        <result property="updatedAt" column="c_updated_at"/>
        <result property="isActive" column="is_active"/>

        <collection property="items" ofType="az.cybernet.invoice.entity.ItemEntity">
            <id property="id" column="i_id"/>
            <result property="name" column="i_name"/>
            <result property="unitPrice" column="i_unit_price"/>
            <result property="quantity" column="i_quantity"/>
            <result property="totalPrice" column="i_total_price"/>
            <result property="isActive" column="i_is_active"/>
            <result property="invoiceId" column="i_invoice_id"/>
        </collection>

    </resultMap>

    <!-- INSERT -->
    <insert id="saveInvoice" parameterType="az.cybernet.invoice.entity.InvoiceEntity"
            useGeneratedKeys="true">
        INSERT INTO invoices (sender_tax_id, recipient_tax_id, total_price, status, invoice_number, invoice_series,
                              created_at, updated_at)
        VALUES (#{senderTaxId}, #{recipientTaxId}, #{totalPrice}, #{status}, #{invoiceNumber}, #{invoiceSeries},
                NOW(), NULL)
    </insert>

    <update id="updateTotalPrice" parameterType="map">
        UPDATE invoices
        SET total_price = #{totalPrice}
        WHERE id = #{invoiceId}
    </update>

    <select id="findLastInvoiceNumberStartingWith" parameterType="string" resultType="string">
        SELECT invoice_number
        FROM invoices
        WHERE invoice_number LIKE CONCAT(#{prefix}, '%')
        ORDER BY invoice_number DESC LIMIT 1
    </select>

    <select id="findAllByRecipientUserTaxId" resultMap="InvoiceResultMap" parameterType="string">
        SELECT c.id               AS c_id,
               c.sender_tax_id    AS c_sender_tax_id,
               c.recipient_tax_id AS c_recipient_tax_id,
               c.total_price      AS c_total_price,
               c.is_active        AS c_is_active,
               c.invoice_number   AS c_invoice_number,
               c.invoice_series   AS c_invoice_series,
               c.status           AS c_status,
               c.created_at       AS c_created_at,
               c.updated_at       AS c_updated_at,

               i.id               AS i_id,
               i.name             AS i_name,
               i.unit_price       AS i_unit_price,
               i.is_active        AS i_is_active,
               i.quantity         AS i_quantity,
               i.total_price      AS i_total_price,
               i.invoice_id       AS i_invoice_id

        FROM invoices c
                 LEFT JOIN items i ON c.id = i.invoice_id AND i.is_active = true
        WHERE c.recipient_tax_id = #{recipientTaxId}
          AND c.is_active = true
    </select>

    <!-- SELECT BY ID -->
    <select id="findById" resultMap="InvoiceResultMap" parameterType="long">
        SELECT c.id               AS c_id,
               c.sender_tax_id    AS c_sender_tax_id,
               c.recipient_tax_id AS c_recipient_tax_id,
               c.total_price      AS c_total_price,
               c.invoice_number   AS c_invoice_number,
               c.is_active        AS c_is_active,
               c.invoice_series   AS c_invoice_series,
               c.status           AS c_status,
               c.created_at       AS c_created_at,
               c.updated_at       AS c_updated_at,

               i.id               AS i_id,
               i.name             AS i_name,
               i.unit_price       AS i_unit_price,
               i.is_active        AS i_is_active,
               i.quantity         AS i_quantity,
               i.total_price      AS i_total_price,
               i.invoice_id       AS i_invoice_id

        FROM invoices c
                 LEFT JOIN items i ON c.id = i.invoice_id AND i.is_active = true
        WHERE c.id = #{id}
          AND c.is_active = true
    </select>

    <update id="restoreInvoice" parameterType="long">
        UPDATE invoices
        SET status     = 'DRAFT',
            is_active  = true,
            updated_at = NOW()
        WHERE id = #{id}
    </update>

    <select id="getAll" resultMap="InvoiceResultMap">
        SELECT
            i.id,
            i.sender_tax_id,
            i.recipient_tax_id,
            i.total_price,
            i.invoice_number,
            i.invoice_series,
            i.status,
            i.created_at,
            i.updated_at,
            i.is_active,

            it.id,
            it.name,
            it.unit_price,
            it.quantity,
            it.total_price,
            it.is_active,
            it.invoice_id
        from invoices i
        left join items it on i.id = it.invoice_id
        and it.is_active = true
        where i.is_active = true
    </select>

    <update id="deleteInvoiceById" parameterType="long">
        update invoices
        set is_active = false
        where id = #{id}
    </update>
    
    <update id="updateInvoice" parameterType="az.cybernet.invoice.entity.InvoiceEntity">
        update invoices
        set recipient_tax_id = #{recipientTaxId},
            updated_at = current_timestamp
        where id = #{invoice.id}
        and is_active = true
    </update>

    <update id="changeStatus">
        update invoices
        set status = #{status},
            updated_at = current_timestamp
        where id = #{id}
    </update>

    <select id="findAllByStatus" resultMap="InvoiceResultMap">
        SELECT
            i.id,
            i.sender_tax_id,
            i.recipient_tax_id,
            i.total_price,
            i.invoice_number,
            i.invoice_series,
            i.status,
            i.created_at,
            i.updated_at,
            i.is_active,

            it.id,
            it.name,
            it.unit_price,
            it.quantity,
            it.total_price,
            it.is_active,
            it.invoice_id
        from invoices i
                 left join items it on i.id = it.invoice_id
            and it.is_active = true
        where i.is_active = true
        and i.status = #{status}
    </select>

    <select id="findByIdAndReceiverTaxId" resultMap="InvoiceResultMap">
        select *
        from invoices
        where id = #{invoiceId}
        and recipient_tax_id = #{receiverTaxId}
        and is_active = true
        and status = 'PENDING'
    </select>

    <select id="findByIdAndBySenderTaxId" resultMap="InvoiceResultMap">
        select *
        from invoices
        where id = #{invoiceId}
        and sender_tax_id = #{senderTaxId}
        and is_active = true
        and status = 'PENDING'
    </select>
</mapper>
