<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="az.cybernet.invoice.repository.OperationRepository">

    <resultMap id="OperationDetailsMap" type="az.cybernet.invoice.entity.OperationDetailsEntity">
        <id property="id" column="od_id"/>
        <result property="itemStatus" column="item_status" javaType="az.cybernet.invoice.enums.ItemStatus"/>
        <result property="operationId" column="operation_id"/>
        <association property="item" javaType="az.cybernet.invoice.entity.ItemEntity">
            <id property="id" column="item_id"/>
        </association>
    </resultMap>

    <resultMap id="OperationMap" type="az.cybernet.invoice.entity.OperationEntity">
        <id property="id" column="op_id"/>
        <result property="operationStatus" column="op_status" javaType="az.cybernet.invoice.enums.OperationStatus"/>
        <result property="createdAt" column="created_at"/>
        <result property="comment" column="op_comment"/>
        <association property="invoice" javaType="az.cybernet.invoice.entity.InvoiceEntity">
            <id property="id" column="invoice_id"/>
        </association>
        <collection property="itemDetails" ofType="az.cybernet.invoice.entity.OperationDetailsEntity"
                    resultMap="OperationDetailsMap"/>
    </resultMap>

    <select id="findById" parameterType="long" resultMap="OperationMap">
        SELECT
        op.id AS op_id,
        op.operationStatus AS op_status,
        op.created_at,
        op.comment AS op_comment,
        op.invoice_id,
        od.id AS od_id,
        od.item_id,
        od.item_status AS item_status,
        od.operation_id,
        i.id AS item_id
        FROM operations op
        LEFT JOIN operation_details od ON op.id = od.operation_id
        LEFT JOIN items i ON od.item_id = i.id
        WHERE op.id = #{id}
    </select>

    <select id="findAll" parameterType="map" resultMap="OperationMap">
        SELECT
        op.id AS op_id,
        op.operationStatus AS op_status,
        op.created_at,
        op.comment AS op_comment,
        op.invoice_id,
        od.id AS od_id,
        od.item_id,
        od.item_status AS item_status,
        od.operation_id,
        i.id AS item_id
        FROM operations op
        LEFT JOIN operation_details od ON op.id = od.operation_id
        LEFT JOIN items i ON od.item_id = i.id
        <where>
            <if test="status != null">
                op.operationStatus = #{status}
            </if>
        op.invoice_id = #{invoiceId}
            <if test="itemStatus != null">
                AND od.item_status = #{itemStatus}
            </if>
        </where>
    </select>

    <select id="findByStatus" parameterType="az.cybernet.invoice.enums.OperationStatus" resultMap="OperationMap">
        SELECT
        op.id AS op_id,
        op.operationStatus AS op_status,
        op.created_at,
        op.comment AS op_comment,
        op.invoice_id,
        od.id AS od_id,
        od.item_id,
        od.item_status AS item_status,
        od.operation_id,
        i.id AS item_id
        FROM operations op
        LEFT JOIN operation_details od ON op.id = od.operation_id
        LEFT JOIN items i ON od.item_id = i.id
        WHERE op.operationStatus = #{status}
    </select>

    <select id="findAllItemsById" parameterType="long" resultMap="OperationMap">
        SELECT
        op.id AS op_id,
        op.operationStatus AS op_status,
        op.created_at,
        op.comment AS op_comment,
        op.invoice_id,
        od.id AS od_id,
        od.item_id,
        od.item_status AS item_status,
        od.operation_id,
        i.id AS item_id
        FROM operations op
        LEFT JOIN operation_details od ON op.id = od.operation_id
        LEFT JOIN items i ON od.item_id = i.id
        WHERE od.item_id = #{itemId}
    </select>

    <select id="findAllInvoicesById" parameterType="long" resultMap="OperationMap">
        SELECT
        op.id AS op_id,
        op.operationStatus AS op_status,
        op.created_at,
        op.comment AS op_comment,
        op.invoice_id,
        od.id AS od_id,
        od.item_id,
        od.item_status AS item_status,
        od.operation_id,
        i.id AS item_id
        FROM operations op
        LEFT JOIN operation_details od ON op.id = od.operation_id
        LEFT JOIN items i ON od.item_id = i.id
        WHERE op.invoice_id = #{invoiceId}
    </select>

    <insert id="save" parameterType="az.cybernet.invoice.entity.OperationEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO operations (operation_status, created_at, invoice_id,comment)
        VALUES (#{op.operationStatus}, #{op.createdAt}, #{op.invoice.id},#{op.comment})
    </insert>

</mapper>
