<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="az.cybernet.usermanagement.repository.UserRepository">

    <!-- Result map with cascade to Operations -->
    <resultMap id="UserResultMap" type="az.cybernet.usermanagement.entity.UserEntity">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="taxId" column="taxId"/>
        <result property="isActive" column="is_active"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>

    </resultMap>
    <insert id="addUser" parameterType="az.cybernet.usermanagement.entity.UserEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (name, tax_id, is_active, created_at, updated_at)
        VALUES (#{name}, #{taxId}, true,NOW() ,null)
    </insert>

    <update id="updateUser" parameterType="az.cybernet.usermanagement.entity.UserEntity">
        UPDATE users
        SET name = #{name},
            is_active = #{isActive},
            updated_at = #{updatedAt}
        WHERE id = #{id}
    </update>

    <select id="findAll" resultMap="UserResultMap" parameterType="Long">
        SELECT u.id,
        u.name,
        u.tax_id,
        u.is_active,
        u.created_at,
        u.updated_at
        FROM users u
        WHERE u.is_active != false
        ORDER BY u.id ASC
        <if test="limit != null">
            LIMIT #{limit}
        </if>
    </select>

    <select id="findMaxTaxId" resultType="long">
        SELECT COALESCE(MAX(id), 0) FROM users
    </select>
    <select id="findById" parameterType="long" resultMap="UserResultMap">
        SELECT u.id,
               u.name,
               u.tax_id,
               u.is_active,
               u.created_at,
               u.updated_at
        FROM users.users u
        WHERE u.id = #{id}
    </select>

</mapper>
